.mainProfile {
  display: flex;
  flex-flow: column;

}
.userSide {
  width: 100%;
}
.repositorySide {
  width: 100%;
  margin-top: 80px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .mainProfile {
    display: flex;
    flex-flow: row;
  } 
  .userSide {
    width: 50%;
  }
  .repositorySide {
    width: 50%;
    margin-top: 30px;
    margin-left: 0;
  }
}